body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 700px;
  height: 700px;
  background-color: crimson;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* .panel {
  background-color: cyan;
}

.panel:hover {
  background-color: crimson;
} */
